
.coach-main {
    .KButton-noKey-0_1jjc9c8:hover {
        color: rgb(0, 94, 184) !important;
    }
}

.tab-block {
    .HeaderTab-noKey-0_ihwo81 {
        color: rgb(7, 29, 73) !important;
    }
    .inner {
        border-color: rgb(0, 94, 184) !important;
    }
}