.checkbox-icon {
    fill: rgb(7, 29, 73) !important;
}

.page-container {
    .KExternalLink-noKey-0_1jjc9c8 {
        color: rgb(0, 94, 184) !important;
    }
    svg {
        fill: rgb(7, 29, 73) !important;
    }
}