.KButton-noKey-0_1jjc9c8 {
    color: #000 !important;
  }

.side-nav-header {
    background-color: rgb(58, 58, 58) !important;
}

.logo {
    min-width: 200px;
    max-width: 100%;    
    height: auto;
  }


.CoreMenuOption-noKey-0_1kqypm9:hover {
    background-color: #eee !important;
}

.CoreMenuOption-noKey-0_r56dzx:hover {
    background-color: #eee !important;
}

.CoreMenuOption-noKey-0_r56dzx {
    color: #000 !important;
    background-color: #eee !important;
}

.CoreMenuOption-noKey-0_clyktq:hover {
    color: #000 !important;
}

.CoreMenuOption-noKey-0_1550atv {
    color:  #000 !important;
}

