.core-table .link-text {
    color: #000 !important;
}

.core-table svg {
    fill: #000 !important;
}

.KRouterLink-noKey-0_1jjc9c8 {
    .link-text:hover {
        color: rgb(0, 94, 184) !important;
    }
}

core-table-container {
        .link-text {
        color: #000 !important;
    }
}

.coach-main svg {
    fill: #000 !important;
}

.page-container {
    .KRouterLink-noKey-0_1jjc9c8 {
        color: rgb(7, 29, 73) !important;
    }
}